{% extends 'base.html.twig' %}

{% block title %}Création tâche - To Do List{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center task-container">
    <div class="col-md-8">
        <h1 class="h3 mb-4 text-center">Création d'une tâche</h1>
        
        {{ form_start(form, {'action' : path('task_create'), 'method': 'POST'}) }}

        <div class="row">
            {# Colonne pour le titre et le contenu #}
            <div class="col-md-8">
                {# Champ pour le titre #}
                <div class="mb-3">
                    {{ form_row(form.title, {
                        'label': 'Titre',
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>
                
                {# Champ pour le contenu #}
                <div class="mb-3">
                    {{ form_row(form.content, {
                        'label': 'Contenu',
                        'attr': {'class': 'form-control', 'style': 'height: 200px;'}
                    }) }}
                </div>
            </div>

            {# Colonne pour les tags #}
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <div class="form-check">
                        {% for tag in form.tags %}
                            <div class="form-check">
                                {{ form_widget(tag, {'attr': {'class': 'form-check-input'}}) }}
                                <label class="form-check-label">{{ tag.vars.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {# Boutons alignés à gauche avec espacement #}
        <div class="d-flex">
            <button type="submit" class="btn btn-success me-2">Ajouter</button>
            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
