{% extends 'base.html.twig' %}

{% block title %}Modification tâche - To Do List{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center task-container">
    <div class="col-md-4">
        <h1 class="h3 mb-4 text-center">Modification de la tâche</h1>
        
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id }), 'method': 'POST'}) }}

        {# Champ pour le titre #}
        <div class="mb-3">
            {{ form_row(form.title, {
                'label': 'Titre',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        
        {# Champ pour le contenu #}
        <div class="mb-3">
            {{ form_row(form.content, {
                'label': 'Contenu',
                'attr': {'class': 'form-control', 'style': 'height: 200px;'}
            }) }}
        </div>

        {# Bouton de modification #}
        <button type="submit" class="btn btn-success w-100">Modifier</button>
        
        {{ form_end(form) }}

        {# Lien pour revenir à la liste des tâches #}
        <a href="{{ path('task_list') }}" class="btn btn-secondary w-100 mt-3">Retour à la liste des tâches</a>
    </div>
</div>
{% endblock %}
